/* Sticky Footer Classes */
#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* Other Classes for Page Styling */

.container
{
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    background-color: #F5F5F5;
}

img
{
    width: 100%;
    height: auto;
}

embed
{
    width: 100%;
    height: auto;
}

object
{
    width: 100%;
    height: auto;
}

body
{
    letter-spacing: 0.15em;
    font-family: "Nunito", sans-serif;
    font-size: 1.125em;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    color: #343a40;
    background-color: #343a40;
    display: block;
    margin: 8px;
}

h4
{
    text-align: center;
}

p
{
    text-align: justify;
}

.btn-calcular
{
    background-color: #36486b;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

.navbar
{
    margin-bottom: 5px;
    letter-spacing: 5px;
}

/* Third container*/
.bg-3
{
    background-color: #474e5d;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;

}

.btn-linkee
{
    background-color: #ffffff;
}

/* Forth container*/
.bg-4
{
    background-color: #343a40;
    color: #ffffff;
}

input
{
    text-align: right;
}

form
{
    margin-block-end: 0px;
}